<html>
<head>
	<title>Tether me!</title>
	<!-- Framework CSS -->
	<link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection">
	<!--[if lt IE 8]><link rel="stylesheet" href="/static/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
</head>
<body>
	<div class="container" style="padding-top: 20px;"><!-- inline CSS is evil -->
	<div class="span-6">&nbsp;</div>
	<div class="span-12">
		<h1 class="center">Tether me!</h1>
		<div class="error">
		  <strong>NOTE!</strong> Apple have seemingly disabled the ability to use these config files on firmware 3.1 . If you want to use this unoficial tethering method, do not upgrade! If you are already running 3.1, don't bother trying this - it more than likely won't work. I'm currently looking in to a way around this so we can use tethering - please follow me on twitter <a href="http://twitter.com/lstoll">http://twitter.com/lstoll</a> for any progress info, or check back here.
		</div>
		<p>So you want to tether your iPhone 3G running the shiny new firmware 3.0, but your carrier doesnt support it?
			Don't worry! There's an easy way to fix it. Simply choose your carrier from the list below (or enter the APN
			manually if you know what that means) and hit download (if you're on your phone now), or add your email address, hit send, and we'll mail
			you a configuration file right away that you can install on your phone that should get you tethering in no time!.
			If it doesn't work for you please let me know, I don't have access to many of these networks.</p>
			<p><strong>Disclaimer:</strong> While this enables tethering, I don't know for sure if your carrier will be able to
			  detect that you are using it. I assume not, however I may be wrong. Keep an eye on your bill</p>
			  <p><strong>Want to get rid of it?</strong> Simple, Just open Settings, and look in General -&gt; Profiles. 
			    Select the Tether profile, and remove. Easy as!</p>
	<form action="/submit_request/" method="get">
		<fieldset>
		{% if message %}
			<div class="{{message_type}}">{{message}}</div>
		{% endif %}
    {% include form %}		
    <p> If you want to download the file direct on your phone, just click download</p>
		<p><input type="submit" name="submit_action" value="Download"/></p>
		<p> If you want the file e-mailed to your phone, fill in the address and hit send</p>
		<p><label for="to">E-Mail address for your phone:</label><br><input type="text" class="title" name="to"/></p>
		<input type="submit" name="submit" value="Send"/>
		</fieldset>
	</form>
	<p> problems? suggestions? <a href="mailto:lstoll@lstoll.net?subject=TetherMe Feedback">mail me</a>. Created by <a href="http://lstoll.net">Lincoln Stoll</a></p>
	</div>
	<div class="span-2">
	  &nbsp;
	</div>
	<div class="span-4">
<script type="text/javascript"><!--
google_ad_client = "pub-6359067345468916";
/* tetherme 160x600, created 3/10/10 */
google_ad_slot = "4221857144";
google_ad_width = 160;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
  </div>
	</div>

<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://analytics.lstoll.net/" : "http://analytics.lstoll.net/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 2);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://analytics.lstoll.net/piwik.php?idsite=2" style="border:0" alt=""/></p></noscript>
<!-- End Piwik Tag -->

  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-248879-12");
  pageTracker._trackPageview();
  } catch(err) {}</script>
</body>
</html>
